body{
  font: 0.8em Arial;
}
.chat.msg{
  border:  5px solid #ccc;
  width: 250px;
  height: 210px;
  padding: 10px;

  overflow-y: scroll;

}
.chat.entry{

  width: 260px;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  font: 1em Arial;


}
